.pos-title {
  color: white;
  background: var(--050505, #050505);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0 1rem 0 0;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.pos-title-wrapper::before {
  content: '';
  display: block;
  width: auto;
  height: 1px;
  background: var(--3A3A3A, #3a3a3a);
  position: relative;
  bottom: -1.25rem;
  z-index: 0;
}

.entry-container {
  font-size: 1.125rem;
  text-align: left;

  & h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--757575, #757575);
  }

  .meaning-container {
    padding-left: 2rem;

    & li {
      padding-left: 1rem;
      margin: 0;

      &::marker {
        color: var(--8F19E8, #8f19e8);
      }

      .example {
        color: var(--757575, #757575);

        &::before {
          content: '“';
        }

        &::after {
          content: '”';
        }
      }
    }
  }

  .source {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

[data-theme='light'] .pos-title {
  color: var(--2D2D2D, #2d2d2d);
  background-color: white;
}

[data-theme='light'] .pos-title-wrapper::before {
  background: var(--3A3A3A, #3a3a3a);
}

@media (max-width: 767px) {
  .entry-container .source {
    font-size: 0.9rem;
  }
}
