.entry-header {
    position: relative;

    & .entry-title {
        margin-bottom: 0;

        color: var(--2D2D2D, #2D2D2D);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    & .entry-pronunciation {
        margin-top: 0;

        color: var(--A445ED, #A445ED);
        font-feature-settings: 'clig' off, 'liga' off;

        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    & .playback-button {
        margin-left: 1rem;
        margin-bottom: 0.5rem;

        position: absolute;
        top: 1rem;
        right: 0;

        color: var(--A445ED, #A445ED);
        font-feature-settings: 'clig' off, 'liga' off;

        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}