.entry-header {
  position: relative;

  & .entry-title {
    margin: 0;

    color: var(--FFFFFF, #ffffff);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & .entry-pronunciation {
    margin-top: 0;

    color: var(--A445ED, #a445ed);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  & .pronunciation-play-button {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    padding: 0;

    position: absolute;
    top: 1rem;
    right: 0;

    color: var(--A445ED, #a445ed);
    background: transparent;

    border-radius: 50%;
    line-height: 0;
    cursor: pointer;

    .play-button-circle {
      fill: var(--A445ED, #a445ed);
    }

    .play-button-triangle {
      fill: var(--A445ED, #a445ed);
    }

    &:hover,
    &:active {
      .play-button-circle {
        opacity: 1;
      }

      .play-button-triangle {
        fill: var(--FFFFFF, #ffffff);
      }
    }

    &:focus,
    &:focus-visible {
      outline: 1px solid var(--A445ED, #a445ed);
    }
  }
}

[data-theme='light'] {
  .entry-header {
    & .entry-title {
      color: var(--2D2D2D, #2d2d2d);
    }
  }
  body {
    background: black;
    color: #ddd;
  }
}
